html, body {
    height: 100%;
    margin: 0;
    padding: 10px;
}

.rectangle-border {
    border: 2px solid black;
    padding: 20px;
    display: inline-block;
}

.underline {
    text-decoration: underline;
}

.image {
    width: 300px;
    height: auto;
}
ol {
    padding-left: 20px;
}
